{#
/**
 * @file oc_activity.html.twig
 * Default theme implementation to present Activity data.
 *
 * This template is used when viewing Activity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_activity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_activity') }}>
  <h2>{{ title }}</h2>
  <div class="oc_entity">
    <div class="left">
      {{ base_fields.activity_date_time }}
      {{ base_fields.description }}
      {{ base_fields.time_taken }}
      {{ base_fields.user_id }}
    </div>
    <div class="right">
      {% for field in other_fields %}
        {{ field }}
      {% endfor %}
    </div>
  </div>
</div>
