{#
/**
 * @file oc_case.html.twig
 * Default theme implementation to present Case data.
 *
 * This template is used when viewing Case pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_case()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_case') }}>
  <h2>{{ title }}</h2>
  <div class="oc_entity">
    <div class="left">
      {{ base_fields.actors_involved }}
      {{ base_fields.changed }}
      {{ base_fields.created }}
      {{ base_fields.user_id }}
    </div>
    <div class="right">
      {% for field in other_fields %}
        {{ field }}
      {% endfor %}
    </div>
  </div>
</div>
